/*Wrapper start */
.App{
  
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto;
    height:100vh;

}
/*Wrapper slutt */

/*Content start */
.Content{
  grid-column: span 10;
  padding: 3rem;
  font-size: 3rem;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}
/*Content slutt */


/*Sidebar start */
.Sidebar{
  grid-column: span 2;
  border-right:solid;
  max-height: calc(100vh - 50px);
 
}

/*Sidebar slutt */

/*Header start */
.Header {
  grid-column: span 12;
  background-color:#445566;
}
