/*Wrapper start */
.App{
  
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto;
    height:100vh;

}
/*Wrapper slutt */

/*Content start */
.Content{
  grid-column: span 10;
  padding: 3rem;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}
/*Content slutt */


/*Sidebar start */
.Sidebar{
  padding:1rem;
  grid-column: span 2;
  max-height: calc(100vh - 50px);
  background-color: #404040;
 
}
.Sidebar a {
  color: #ffffff;
}

/*Sidebar slutt */

/*Header start */
.Header {
  grid-column: span 12;
  background-color:#445566;
  color: #ffffff;
}
/*Header slutt */

a {
  text-decoration: none;
  color: black;
}