
/*Wrapper start */
.App{
  
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto;
    height:100vh;
    font-family: 'Roboto', sans-serif;

}
/*Wrapper slutt */

/*Content start */
.Content{
  grid-column: span 10;
  padding: 3rem;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}
/*Content slutt */


/*Sidebar start */
.Sidebar{
  padding:1rem;
  grid-column: span 2;
  max-height: calc(100vh - 50px);
  background-color: #404040;
 
}
.Sidebar a {
  color: #C4C4C4;
}


/*Sidebar slutt */

/*Header start */
.Header {
  grid-column: span 12;
  background-color:#445566;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem 0 1rem;
}
/*Header slutt */

a {
  text-decoration: none;
  color: black;
}

.questionContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.voteCounter{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem 0 0;

}
.voteCounter h3 {
  margin:0;
}

.addPostButton{
  background-color:green;
  color:white;
  padding:0.5rem;
  border: 25%;
}
.newQuestionForm{
  padding:1rem;
}